<!-- Page Content -->
            <div class="container">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Administor accounts</h5>
                      
                      <table id="example" class="table table-striped" style="width:100%">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Fullname</th>
                                  <th>Email</th>
                                  <th>Phone</th>
                                  <th>Address</th>
                              </tr>
                          </thead>
                          <tbody>
                              {{#each admins}}
                              <tr>
                                  <td>{{this._id}}</td>
                                  <td>{{this.firstname}} {{this.lastname}}</td>                      
                                  <td>
                                    {{#if this.email}}
                                        {{this.email}}
                                    {{else}}
                                        Not given yet.
                                    {{/if}}
                                  </td>
                                  <td>
                                    {{#if this.phone}}
                                        {{this.phone}}
                                    {{else}}
                                        Not given yet.
                                    {{/if}}
                                  </td>
                                  <td>
                                     {{#if this.address}}
                                        {{this.address}}
                                    {{else}}
                                        Not given yet.
                                    {{/if}}
                                  </td>
                              </tr>
                              {{/each}}
                                                                                          
                          </tbody>
                      </table>
                  </div>
              </div>
                 
                <!-- Modal -->
                <button id="add-product-btn" type="button" class="btn" data-toggle="modal" data-target="#addProductModal">Add admin account</button>
                <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addProductModalLabel">Add admin account</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/register" method="post">
                                <div class="row">
                  
                                  <div class="form-group col-md-6">
                                    <label for="adminFirstname">Firstname</label>
                                    <input type="text" class="form-control" id="adminFirstname" name="firstname" placeholder="Firstname" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="adminLastname">Lastname</label>
                                    <input type="text" class="form-control" id="adminLastname" name="lastname" placeholder="Lastname" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                                  </div>
                                 
                                </div>                                                       
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
                <!-- End of Modal  -->
                
            </div>  
            <!-- End of page content -->