<!-- Page Co  ntent -->
<!-- Order submitting result alert -->
{{#if orderInform}}
  <div class="alert alert-success">
    <strong>{{orderInform}}</strong>
  </div>
{{else}}
            <div class="container">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Danh mục vacxin</h5>
                      <!-- Search bar -->
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid" >
                              <form class="d-flex" action="/vaccines/search" method="get">
                                <input class="form-control me-2" type="search" name= "name" placeholder="Tìm kiếm vacxin" aria-label="Search">
                                <select class="form-control" id="category" name="category">
                                    <option disabled selected value> Danh mục </option>
                                    <option value="Vacxin cho người trưởng thành">Vacxin cho người trưởng thành</option>
                                    <option value="Vacxin cho trẻ tiền học đường">Vacxin cho trẻ tiền học đường</option>
                                    <option value="vacxin cho tuổi vị thành niên và cả thanh xuan">vacxin cho tuổi vị thành niên và cả thanh xuan</option>
                                </select>
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                              </form>
                            </div>
                            
                        </nav>
            
                        <!--  -->
                      <table id="example" class="table table-striped" style="width:100%">
                          <thead>
                              <tr>
                                  <th>Tên vaccine</th>
                                  <th>Phòng bệnh</th>
                                  <th>Giá</th>
                              </tr>
                          </thead>
                          <tbody>
                              {{#each vaccines}}
                              <tr>
                                  <td>{{this.name}}</td>
                                  <td>{{this.prevention}}</td>
                                  <td>{{this.price}}</td>
                                  <td>
                                    <form action="/vaccines/detail" method="get" style="display: inline-block;">
                                      <button type="submit" name="_id" value="{{this._id}}" class="btn btn-default btn-xs" ><span class="bi bi-pencil-square"></span></button>
                                    </form>
                                    <button id="{{this.name}}" onclick="appendVaccine(this.value, this.id)" name="_id" value="{{this._id}}" class="btn btn-default btn-xs" ><span class="bi bi-plus-circle"></span></button>
                                  </td>
                              </tr>
                              {{/each}}
                                                                                          
                          </tbody>
                      </table>
                  </div>
              </div>
                 <!-- Pagination -->
                    <ul class="pagination">
                      {{#if hasPrev}}
                          <li class="page-item"><a class="page-link" href="/vaccines{{subRoute}}/{{prevAndNext.prev}}">Previous</a></li>
                      {{else}}
                          <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                      {{/if}}
                      {{#if hasPrev}}
                        <li class="page-item"><a class="page-link" href="/vaccines{{subRoute}}/{{prevAndNextInPages.prev}}">...</a></li>
                      {{/if}}
                      {{#each page}}
                        <li class="page-item"><a class="page-link" href="/vaccines{{subRoute}}/{{this.page}}">{{this.page}}</a></li>
                      {{/each}}
                      {{#if hasNext}}
                        <li class="page-item"><a class="page-link" href="/vaccines{{subRoute}}/{{prevAndNextInPages.next}}">...</a></li>
                      {{/if}}
                      {{#if hasNext}}
                        <li class="page-item"><a class="page-link" href="/vaccines{{subRoute}}/{{prevAndNext.prev}}">Next</a></li>
                      {{else}}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                      {{/if}}                    
                    </ul>
                <!-- Modal (Order vaccine new customer) -->
                <button id="add-product-btn" type="button" class="btn" data-toggle="modal" data-target="#addProductModal">Đặt mua vaccine cho người mới</button>
                <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addProductModalLabel">Đặt mua vaccine cho người mới</h5>
                        </div>
                        <div class="modal-body">
                            <form  action="/orders/add" method="POST">
                              <div class="row">
                                  <div class="form-group col-md-6">
                                    <label for="buyerName">Tên người đặt</label>
                                    <input type="text" class="form-control" id="buyerName" name="buyerName" placeholder="Người đặt">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="buyerId">Mã khách hàng (nếu có)</label>
                                    <input type="text" class="form-control" id="buyerName" name="buyerId" placeholder="Mã khách hàng">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="receiverName">Tên người được tiêm</label>
                                    <input type="text" class="form-control" id="receiverName" name="receiverName" placeholder="Tên người được tiêm" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="relationship">Quan hệ</label>
                                    <select class="form-control" id="relationship" name="relationship">
                                      <option selected>Bản thân</option>
                                      <option>Anh</option>
                                      <option>Chị</option>
                                      <option>Em</option>
                                      <option>Ông</option>
                                      <option>Bà</option>
                                      <option>Bố</option>
                                      <option>Mẹ</option>
                                      <option>Con</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="phone">Số điện thoại</label>
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại người tiêm hoặc bảo hộ" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="facility">Địa điểm muốn tiêm</label>
                                    <select class="form-control" id="facility" name="facility" value="VNVC Bình Tân">
                                      <option value="VNVC Bình Tân" selected >{{this.properties.name}}</option>
                                        {{#each facilities}}
                                            <option>{{this.properties.name}}</option>
                                        {{/each}}
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6" id="orderFormItems1">
                                    <label>Danh sách vaccine được chọn</label>
                                  </div>
                                  </div>
                                </div>                                                       
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Đặt đơn hàng</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                <!-- End of Modal  -->
                <!-- Modal (Order vaccine for old customer) -->
                <button id="add-product-btn" type="button" class="btn" data-toggle="modal" data-target="#orderForOldCustomer">Đặt mua vaccine cho khách hàng thân thiết</button>
                <div class="modal fade" id="orderForOldCustomer" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addProductModalLabel">Đặt mua vaccine cho khách hàng thân thiết</h5>
                        </div>
                        <div class="modal-body">
                            <form  action="/orders/add" method="POST">
                              <div class="row">
                                  <div class="form-group col-md-6">
                                    <label for="buyerId">Mã khách hàng</label>
                                    <input type="text" class="form-control" id="buyerName" name="buyerId" placeholder="Mã khách hàng">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="facility">Địa điểm muốn tiêm</label>
                                    <select class="form-control" id="facility" name="facility" required>
                                        {{#each facilities}}
                                            <option>{{this.properties.name}}</option>
                                        {{/each}}
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6" id="orderFormItems2">
                                    <label>Danh sách vaccine được chọn</label>
                                  </div>
                                  </div>
                                </div>                                                       
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Đặt đơn hàng</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                <!-- End of Modal  -->
                <!-- Modal (Sign up for vaccination) -->
                <button id="add-product-btn" type="button" class="btn" data-toggle="modal" data-target="#signupModal">Đăng ký tiêm</button>
                <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="addProductModalLabel">Đăng ký tiêm</h5>
                        </div>
                        <div class="modal-body">
                            <form  action="/signups/add" method="POST">
                              <div class="row">
                                  <div class="form-group col-md-6">
                                    <label for="fullname">Họ và tên</label>
                                    <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ và tên">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="registerId">Mã khách hàng (nếu có)</label>
                                    <input type="text" class="form-control" id="registerId" name="registerId" placeholder="Mã khách hàng">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="address">Địa chỉ</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="Địa chỉ" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="facility">Địa điểm muốn tiêm</label>
                                    <select class="form-control" id="facility" name="facility" required>
                                        {{#each facilities}}
                                            <option>{{this.properties.name}}</option>
                                        {{/each}}
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="date">Ngày tiêm</label>
                                    <input type="date" class="form-control" id="date" name="date" required>
                                  </div>
                                   <div class="form-group col-md-6">
                                    <label for="contact">Tên người liên hệ</label>
                                    <input type="text" class="form-control" id="contact" name="contact" placeholder="Tên người liên hệ" required>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="relationship">Quan hệ với người liên hệ</label>
                                    <select class="form-control" id="relationship" name="relationship">
                                      <option selected>Anh</option>
                                      <option>Chị</option>
                                      <option>Em</option>
                                      <option>Ông</option>
                                      <option>Bà</option>
                                      <option>Bố</option>
                                      <option>Mẹ</option>
                                      <option>Con</option>
                                    </select>
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="phone">Số điện thoại người liên hệ</label>
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Số điện thoại người liên hệ" required>
                                  </div>
                                  <div class="form-group col-md-6" id="signupFormItems">
                                    <label>Danh sách vaccine được chọn</label>
                                  </div>
                                  </div>
                                </div>                                                       
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Đăng ký tiêm chủng</button>
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                <!-- End of Modal  -->

                </div>
                
                
                 
            </div>  
{{/if}}

            <!-- End of page content -->