<!-- Summary cards -->
 <!-- Search bar -->
{{!-- <nav class="navbar navbar-light"> --}}
    <div class="container-sm" >
        <form class="d-flex" action="/analytics" method="get">
            <select class="form-control me-2" name="AnalyticsOption">
                <option>All</option>
                <option>Today</option>
                <option>This month</option>
                <option>This year</option>
            </select>
            <button class="btn btn-outline-primary" type="submit">Analyze</button>
        </form>
    </div>
{{!-- </nav> --}}

<div class="container">
    <div class="row">
    <div class="col-md">
        <div class="card summary-card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{numberOfProduct}}</h5>
                        <p class="card-text">Products</p>
                    </div>
                    <div class="col">
                        <h2><i class="bi bi-gift-fill"></i></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card summary-card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{saleAmount}}</h5>
                        <p class="card-text">Sales</p>
                    </div>
                    <div class="col">
                        <h2><i class="bi bi-currency-dollar"></i></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card summary-card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">{{income}}</h5>
                        <p class="card-text">Income</p>
                    </div>
                    <div class="col">
                        <h2><i class="bi bi-piggy-bank-fill"></i></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="card summary-card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">12%</h5>
                        <p class="card-text">Increase</p>
                    </div>
                    <div class="col">
                        <h2><i class="bi bi-graph-up-arrow"></i></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- Chars -->
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top selling products</h5>
                    <canvas id="topSales"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Monthly income</h5>
                    <canvas id="monthlyIncome"></canvas>
                </div>
            </div>
        </div>
    </div>
    <input type = "hidden" id = "products" value = '{{products}}' />
    <input type = "hidden" id = "datas" value = '{{datas}}' />
    <input type = "hidden" id = "incomes" value = '{{incomes}}' />
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- End of page content -->